<!doctype html>
<html>
<!---
    <h1>Welcome to TASEMS by Chandru, Jithin and Gokul <h1> 
    <div class="box">
        <iframe src="https://docs.google.com/presentation/d/1YtnEyriu9cD8qBwsL699pdeaOMyceUK0Mu793DhoRoA/embed?start=false&loop=false&delayms=3000" frameborder="0" width="1920" height="700" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
    </iframe>   
    
!-->
    <h3> Add a new Graph </h3>
    <br>
    <form action="/local/graph_html/" method="post">
	<input type="submit" value="Add a Graph" />
    </form>

      {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li<{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}
    
    <p style="text-align:center;">
	<img src="{{ url_for('static',filename="check.png")}}">
    </p>

</html>

